<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="/stylesheets/order.css">
	<title>order</title>
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="row bgc-hl">
				<div class="col-xs-3 ">
					<div class="header-img"></div>
				</div>
				<div class="col-xs-9">
					<h1>
						肯德基北清路店
					</h1>
				</div>
			</div>
		</div>
	</header>
	<content class="content">
		<div class="container">
			<div class="row">
				<div class="col-xs-3 menu-category-container">
					<ul class="menu-category text-center">
						<li class="current"><a href="#" class="btn btn-block">今日推荐</a></li>
						<li><a href="#" class="btn btn-block">今日特价</a></li>
						<li><a href="#" class="btn btn-block">今日推荐</a></li>
						<li><a href="#" class="btn btn-block">今日推荐</a></li>
						<li><a href="#" class="btn btn-block">今日推荐</a></li>
						<li><a href="#" class="btn btn-block">今日推荐</a></li>
						<li><a href="#" class="btn btn-block">今日推荐</a></li>
						<li><a href="#" class="btn btn-block">今日推荐</a></li>
					</ul>
				</div>
				<div class="col-xs-9 menu-content-container">
					<ul class="menu-content">
						<li>
							<div class="menu-content-head">
								<h2>今日推荐</h2>
							</div>
							<ul class="menu-content-list">
								<li>
									<div class="container">
										<div class="img-warp">
											<img src="/images/hsr_fqjd.jpeg" alt="">
										</div>
										<div class="img-discribe">
											<h4>红烧肉+番茄鸡蛋</h4>
											<p>
												月售<span>45</span>份&nbsp;&nbsp;好评率<sapn>50</sapn>%
											</p>
										</div>
									</div>
									<div class="clearfix charge-add">
										<div class="charge pull-left">
											￥
											<strong>15</strong>
										</div>
										<div class="add pull-right">
												<i class="glyphicon glyphicon-plus-sign cl-hl fs-2"></i>
										</div>
									</div>
								</li>
								<li>
									<div class="container">
										<div class="img-warp">
											<img src="/images/hsr_fqjd.jpeg" alt="">
										</div>
										<div class="img-discribe">
											<h4>红烧肉+番茄鸡蛋</h4>
											<p>
												月售<span>45</span>份&nbsp;&nbsp;好评率<sapn>50</sapn>%
											</p>
										</div>
									</div>
									<div class="clearfix charge-add">
										<div class="charge pull-left">
											￥
											<strong>15</strong>
										</div>
										<div class="add pull-right">
												<i class="glyphicon glyphicon-plus-sign cl-hl fs-2"></i>
										</div>
									</div>
								</li>
								<li>
									<div class="container">
										<div class="img-warp">
											<img src="/images/hsr_fqjd.jpeg" alt="">
										</div>
										<div class="img-discribe">
											<h4>红烧肉+番茄鸡蛋</h4>
											<p>
												月售<span>45</span>份&nbsp;&nbsp;好评率<sapn>50</sapn>%
											</p>
										</div>
									</div>
									<div class="clearfix charge-add">
										<div class="charge pull-left">
											￥
											<strong>15</strong>
										</div>
										<div class="add pull-right">
												<i class="glyphicon glyphicon-plus-sign cl-hl fs-2"></i>
										</div>
									</div>
								</li>
								<li>
									<div class="container">
										<div class="img-warp">
											<img src="/images/hsr_fqjd.jpeg" alt="">
										</div>
										<div class="img-discribe">
											<h4>红烧肉+番茄鸡蛋</h4>
											<p>
												月售<span>45</span>份&nbsp;&nbsp;好评率<sapn>50</sapn>%
											</p>
										</div>
									</div>
									<div class="clearfix charge-add">
										<div class="charge pull-left">
											￥
											<strong>15</strong>
										</div>
										<div class="add pull-right">
												<i class="glyphicon glyphicon-plus-sign cl-hl fs-2"></i>
										</div>
									</div>
								</li>
							</ul>
						</li>
						<li>
							<div class="menu-content-head">
								<h2>今日推荐</h2>
							</div>
							<ul class="menu-content-list">
								<li>
									<div class="container">
										<div class="img-warp">
											<img src="/images/hsr_fqjd.jpeg" alt="">
										</div>
										<div class="img-discribe">
											<h4>红烧肉+番茄鸡蛋</h4>
											<p>
												月售<span>45</span>份&nbsp;&nbsp;好评率<sapn>50</sapn>%
											</p>
										</div>
									</div>
									<div class="clearfix charge-add">
										<div class="charge pull-left">
											￥
											<strong>15</strong>
										</div>
										<div class="add pull-right">
												<i class="glyphicon glyphicon-plus-sign cl-hl fs-2"></i>
										</div>
									</div>
								</li>
								<li>
									<div class="container">
										<div class="img-warp">
											<img src="/images/hsr_fqjd.jpeg" alt="">
										</div>
										<div class="img-discribe">
											<h4>红烧肉+番茄鸡蛋</h4>
											<p>
												月售<span>45</span>份&nbsp;&nbsp;好评率<sapn>50</sapn>%
											</p>
										</div>
									</div>
									<div class="clearfix charge-add">
										<div class="charge pull-left">
											￥
											<strong>15</strong>
										</div>
										<div class="add pull-right">
												<i class="glyphicon glyphicon-plus-sign cl-hl fs-2"></i>
										</div>
									</div>
								</li>
								<li>
									<div class="container">
										<div class="img-warp">
											<img src="/images/hsr_fqjd.jpeg" alt="">
										</div>
										<div class="img-discribe">
											<h4>红烧肉+番茄鸡蛋</h4>
											<p>
												月售<span>45</span>份&nbsp;&nbsp;好评率<sapn>50</sapn>%
											</p>
										</div>
									</div>
									<div class="clearfix charge-add">
										<div class="charge pull-left">
											￥
											<strong>15</strong>
										</div>
										<div class="add pull-right">
												<i class="glyphicon glyphicon-plus-sign cl-hl fs-2"></i>
										</div>
									</div>
								</li>
								<li>
									<div class="container">
										<div class="img-warp">
											<img src="/images/hsr_fqjd.jpeg" alt="">
										</div>
										<div class="img-discribe">
											<h4>红烧肉+番茄鸡蛋</h4>
											<p>
												月售<span>45</span>份&nbsp;&nbsp;好评率<sapn>50</sapn>%
											</p>
										</div>
									</div>
									<div class="clearfix charge-add">
										<div class="charge pull-left">
											￥
											<strong>15</strong>
										</div>
										<div class="add pull-right">
												<i class="glyphicon glyphicon-plus-sign cl-hl fs-2"></i>
										</div>
									</div>
								</li>
							</ul>
						</li>
						<li>
							<div class="menu-content-head">
								<h2>今日推荐</h2>
							</div>
							<ul class="menu-content-list">
								<li>
									<div class="container">
										<div class="img-warp">
											<img src="/images/hsr_fqjd.jpeg" alt="">
										</div>
										<div class="img-discribe">
											<h4>红烧肉+番茄鸡蛋</h4>
											<p>
												月售<span>45</span>份&nbsp;&nbsp;好评率<sapn>50</sapn>%
											</p>
										</div>
									</div>
									<div class="clearfix charge-add">
										<div class="charge pull-left">
											￥
											<strong>15</strong>
										</div>
										<div class="add pull-right">
												<i class="glyphicon glyphicon-plus-sign cl-hl fs-2"></i>
										</div>
									</div>
								</li>
								<li>
									<div class="container">
										<div class="img-warp">
											<img src="/images/hsr_fqjd.jpeg" alt="">
										</div>
										<div class="img-discribe">
											<h4>红烧肉+番茄鸡蛋</h4>
											<p>
												月售<span>45</span>份&nbsp;&nbsp;好评率<sapn>50</sapn>%
											</p>
										</div>
									</div>
									<div class="clearfix charge-add">
										<div class="charge pull-left">
											￥
											<strong>15</strong>
										</div>
										<div class="add pull-right">
												<i class="glyphicon glyphicon-plus-sign cl-hl fs-2"></i>
										</div>
									</div>
								</li>
								<li>
									<div class="container">
										<div class="img-warp">
											<img src="/images/hsr_fqjd.jpeg" alt="">
										</div>
										<div class="img-discribe">
											<h4>红烧肉+番茄鸡蛋</h4>
											<p>
												月售<span>45</span>份&nbsp;&nbsp;好评率<sapn>50</sapn>%
											</p>
										</div>
									</div>
									<div class="clearfix charge-add">
										<div class="charge pull-left">
											￥
											<strong>15</strong>
										</div>
										<div class="add pull-right">
												<i class="glyphicon glyphicon-plus-sign cl-hl fs-2"></i>
										</div>
									</div>
								</li>
								<li>
									<div class="container">
										<div class="img-warp">
											<img src="/images/hsr_fqjd.jpeg" alt="">
										</div>
										<div class="img-discribe">
											<h4>红烧肉+番茄鸡蛋</h4>
											<p>
												月售<span>45</span>份&nbsp;&nbsp;好评率<sapn>50</sapn>%
											</p>
										</div>
									</div>
									<div class="clearfix charge-add">
										<div class="charge pull-left">
											￥
											<strong>15</strong>
										</div>
										<div class="add pull-right">
												<i class="glyphicon glyphicon-plus-sign cl-hl fs-2"></i>
										</div>
									</div>
								</li>
							</ul>
						</li>
						<li>
							<div class="menu-content-head">
								<h2>今日推荐</h2>
							</div>
							<ul class="menu-content-list">
								<li>
									<div class="container">
										<div class="img-warp">
											<img src="/images/hsr_fqjd.jpeg" alt="">
										</div>
										<div class="img-discribe">
											<h4>红烧肉+番茄鸡蛋</h4>
											<p>
												月售<span>45</span>份&nbsp;&nbsp;好评率<sapn>50</sapn>%
											</p>
										</div>
									</div>
									<div class="clearfix charge-add">
										<div class="charge pull-left">
											￥
											<strong>15</strong>
										</div>
										<div class="add pull-right">
												<i class="glyphicon glyphicon-plus-sign cl-hl fs-2"></i>
										</div>
									</div>
								</li>
								<li>
									<div class="container">
										<div class="img-warp">
											<img src="/images/hsr_fqjd.jpeg" alt="">
										</div>
										<div class="img-discribe">
											<h4>红烧肉+番茄鸡蛋</h4>
											<p>
												月售<span>45</span>份&nbsp;&nbsp;好评率<sapn>50</sapn>%
											</p>
										</div>
									</div>
									<div class="clearfix charge-add">
										<div class="charge pull-left">
											￥
											<strong>15</strong>
										</div>
										<div class="add pull-right">
												<i class="glyphicon glyphicon-plus-sign cl-hl fs-2"></i>
										</div>
									</div>
								</li>
								<li>
									<div class="container">
										<div class="img-warp">
											<img src="/images/hsr_fqjd.jpeg" alt="">
										</div>
										<div class="img-discribe">
											<h4>红烧肉+番茄鸡蛋</h4>
											<p>
												月售<span>45</span>份&nbsp;&nbsp;好评率<sapn>50</sapn>%
											</p>
										</div>
									</div>
									<div class="clearfix charge-add">
										<div class="charge pull-left">
											￥
											<strong>15</strong>
										</div>
										<div class="add pull-right">
												<i class="glyphicon glyphicon-plus-sign cl-hl fs-2"></i>
										</div>
									</div>
								</li>
								<li>
									<div class="container">
										<div class="img-warp">
											<img src="/images/hsr_fqjd.jpeg" alt="">
										</div>
										<div class="img-discribe">
											<h4>红烧肉+番茄鸡蛋</h4>
											<p>
												月售<span>45</span>份&nbsp;&nbsp;好评率<sapn>50</sapn>%
											</p>
										</div>
									</div>
									<div class="clearfix charge-add">
										<div class="charge pull-left">
											￥
											<strong>15</strong>
										</div>
										<div class="add pull-right">
												<i class="glyphicon glyphicon-plus-sign cl-hl fs-2"></i>
										</div>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</content>
	<footer class="footer">
		<div class="container">
			<div class="row clearfix">
				<div class="pull-left">
					<div class="cart lineblock">
						<i class="glyphicon glyphicon-shopping-cart fs-2_5"></i>
					</div>
					<div class="lineblock total-charge fs-1_3">
						<p>
							总金额：&nbsp;<strong class="fs-1_6">105</strong> &nbsp;元
						</p>
					</div>
				</div>
				<div class="pull-right order-btn">
					<button class="btn btn-block btn-success">立即下单</button>
				</div>
			</div>
		</div>
	</footer>
<!--
<div class="row">
	<div class="col-sm-6">
		<div class="tabbable tabs-left">
			<ul class="nav nav-tabs" id="myTab3">
				<li class="">
					<a data-toggle="tab" href="#home3" aria-expanded="false">
						<i class="pink ace-icon fa fa-tachometer bigger-110"></i>
						Home
					</a>
				</li>

				<li class="">
					<a data-toggle="tab" href="#profile3" aria-expanded="false">
						<i class="blue ace-icon fa fa-user bigger-110"></i>
						Profile
					</a>
				</li>

				<li class="active">
					<a data-toggle="tab" href="#dropdown13" aria-expanded="true">
						<i class="ace-icon fa fa-rocket"></i>
						More
					</a>
				</li>
			</ul>

			<div class="tab-content">
				<div id="home3" class="tab-pane">
					<p>Raw denim you probably haven't heard of them jean shorts Austin.</p>
					<p>Raw denim you probably haven't heard of them jean shorts Austin.</p>
				</div>

				<div id="profile3" class="tab-pane">
					<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.</p>
					<p>Raw denim you probably haven't heard of them jean shorts Austin.</p>
				</div>

				<div id="dropdown13" class="tab-pane active">
					<p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade.</p>
					<p>Raw denim you probably haven't heard of them jean shorts Austin.</p>
				</div>
			</div>
		</div>
	</div>
</div>-->
									
</body>
</html>