<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">
	<!--<link rel="stylesheet" href="/libs/ace/assets/css/ace.min.css">-->
	<link rel="stylesheet" href="/stylesheets/order.css">
	<title>order</title>
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="row bgc-hl">
				<div class="col-xs-3 ">
					<div class="header-img"></div>
				</div>
				<div class="col-xs-9">
					<h1>
						肯德基北清路店
					</h1>
				</div>
			</div>
		</div>
	</header>
	<content class="content">
		<div class="container">
			<div class="row">
				<div class="col-xs-3 menu-category-container">
				</div>
				<div class="col-xs-9 menu-content-container">
					
				</div>
			</div>
		</div>
	</content>
	<footer class="footer">
		<div class="container">
			<div class="row clearfix">
				<div class="pull-left">
					<div class="cart lineblock">
						<i class="glyphicon glyphicon-shopping-cart fs-2_5"></i>
					</div>
					<div class="lineblock total-charge fs-1_3">
						<p>
							总金额：&nbsp;<strong class="fs-1_6">0.00</strong> &nbsp;元
						</p>
					</div>
				</div>
				<div class="pull-right order-btn">
					<button class="btn btn-block btn-success">立即下单</button>
				</div>
			</div>
		</div>
	</footer>

	<script type="template" id="menuContentTemplate">
		<ul class="menu-content">
			{{ each data as value key}}
				{{ if key != 'totalPrice' && key != "allTotalCount"}}
					<li data-category="{{key}}">
						<div class="menu-content-head">
							<h2>{{value.title}}</h2>
						</div>
						<ul class="menu-content-list">
							{{each value.list as item k}}
							<li data-dish="{{k}}" data-price="{{item.singlePrice}}" data-count="{{item.count}}">
								<div class="container">
									<div class="img-warp">
										<img src="{{item.imgUrl}}" alt="">
									</div>
									<div class="img-discribe">
										<h4>{{item.title}}</h4>
										<p>
											月售<span>{{item.saleCount}}</span>份&nbsp;&nbsp;好评率<sapn>{{item.rate}}</sapn>%
										</p>
									</div>
								</div>
								<div class="clearfix charge-add">
									<div class="charge pull-left">
										￥
										<strong>{{item.singlePrice}}</strong>
									</div>
									<div class="add-btn pull-right clearfix">
										<i class="hide sub glyphicon glyphicon-minus-sign cl-hl fs-2"></i>
										<span class="hide">{{item.count}}</span>
										<i class="add glyphicon glyphicon-plus-sign cl-hl fs-2"></i>
									</div>
								</div>
							</li>
							{{/each}}
						</ul>
					</li>
				{{ /if }}
			{{/each}}
		</ul>
	</script>
	<script type="template" id="menuListTemplate">
		<ul class="menu-category text-center">
			{{each data as value key}}
				{{if key != "totalPrice" && key != "allTotalCount"}}
					{{ if value.sort == 0 }}
						<li data-index={{value.sort}} class="current"><a href="#" class="btn btn-block">{{value.title}}</a><span  class="hide">0</span></li>
					{{ else  }} 
						<li data-index={{value.sort}}><a href="#" class="btn btn-block">{{value.title}}</a><span  class="hide">0</span></li>
					{{/if}}
				{{/if}}
			{{/each}}
		</ul>
	</script>
	<script src="/libs/zepto/zepto.js"></script>
	<script src="/libs/zepto/src/fx.js"></script>
	<script src="/libs/zepto/src/touch.js"></script>
	<script src="/libs/zepto/src/detect.js"></script>
	<script src="/libs/zepto/src/zepto.scroll.js"></script>
	<script src="/libs/art-template/template.js"></script>
	<script src="/javascripts/order.js"></script>
</body>
</html>