html {
	height: 100%;
}
body {
	font-size: 10px;
	height: 100%;
	font-family: 'microsoft Yahei'
}
h1 {
	font-size: 1.5rem;
}
ul {
	padding: 0;
}
li {
	list-style: none;
}
.bgc-hl {
	background-color: #6495ED;
}
.cl-hl {
	color: #6495ED;
}
.fs-4 {
	font-size: 4rem;
}
.fs-3 {
	font-size: 3rem;
}
.fs-2 {
	font-size: 2rem;
}
.fs-2_5 {
	font-size: 2.5rem;
}
.fs-1_6 {
	font-size: 1.6rem;
}
.fs-1_3 {
	font-size: 1.3rem;
}
.header {
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 99;
}
.header-img {
	background-image: url('/images/kfc.jpg');
	background-origin: content-box;
	background-position: -3% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	height: 8rem;
	width: 8rem;
	border-radius: 50%;
	margin: 0 auto;
}
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 5rem;
	line-height: 5rem;
	background-color: rgba(0,0,0,0.6);
}
.lineblock {
	display: inline-block;
}
.footer .row {
	margin: 0;
}
.footer .container {
	padding: 0;
}
.cart {
	width: 5rem;
	height: 5rem;
	border: 0.5rem solid #444;
	border-radius: 50%;
	background-color: #333;
	position: absolute;
	left: 2rem;
	bottom: 1.5rem;
}
.cart i {
	margin-top: 0.8rem;
	margin-left: 0.8rem;
	color: #999;
}
.total-charge {
	margin-left: 8rem;
}
.total-charge p {
	color: #e4e4e4;
}
.order-btn {
	width: 30%;
	
	line-height: 100%;
}
.order-btn button {
	height: 5rem;
}
.content {
	margin-top: 100px;
	height: 100%;
}
.content>.container {
	padding: 0;
	height: 100%;
	padding-top: 8rem;
}
.content .row {
	margin: 0;
	height: 100%;
}
.content .row>div {
	padding: 0;
}
.menu-category-container {
	height: 100%;
	overflow-y: auto;
}
.menu-container {
	height: 100%;
	overflow-y: auto;
}
.menu-category {
	height: 100%;
	background-color: #EAEAEA;
}
.menu-category li{
	height: 4rem;
	background-color: #EAEAEA;
	border-top: 0.1rem solid #E5E5E5;
	border-left: 0.3rem solid #EAEAEA;
}
.menu-category .current {
	background-color: #fff;
	border-left: 0.3rem solid #36648B;
}
.menu-category li a {
	height: 100%;
	padding: 0;
	line-height: 4rem;
	font-size: 1.2rem;
}
.menu-content-head {
	background-color: #e4e4e4;
	padding-left: 1rem;
	height: 3rem;
	
}
.menu-content-head h2{
	font-size: 1.5rem;
	line-height: 3rem;
	margin: 0;
	padding: 0;

}
.menu-content-container {
	height: 100%;
	overflow: auto;
}
.menu-content {
	padding-bottom: 5rem;
}
.menu-content-list li {
	padding: 1rem 0;
	border-bottom: 0.1rem solid #E4E4E4;
}
.img-warp {
	position: relative;
	display: inline-block;
    width: 25%;
    vertical-align: top;
}
.img-warp img{
	width: 100%;
}
.img-discribe {
	display: inline-block;
	width: 60%;
	margin-left: 1rem;
}
.img-discribe h4 {
	font-size: 1.4rem;
}
.charge-add {
	padding-top: 1rem;
	vertical-align: middle;
	line-height: 1.2rem;
	color: #f40;
}
.charge {
	margin-left: 8rem;
	font-size: 1.2rem;
	height: 2rem;
	line-height: 2rem;
}
.charge strong {
	font-size: 1.4rem;
	font-weight: 800;
	
}
.add {
	margin-right: 5rem;
}